Dockerrun.aws.json
.ssh
.ssh.pub
.env
env.list
redis*/
/venv
/migrations
dist/
node_modules/
npm-debug.log
*.pyc
__pycache__
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
