amqp==2.3.2
billiard==3.5.0.4
celery==4.1.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
meld3==1.0.2
numpy==1.15.0
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.10
supervisor==3.3.3
urllib3==1.23
vine==1.1.4
Werkzeug==0.14.1
