.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  fill: black;
}

.Axis-Bottom text {
 text-anchor: "middle";
 alignment-baseline: "middle";
}

.Axis-Left text {
  text-anchor: "middle";
  alignment-baseline: "end";
}
